<%- include("header") -%>
 <h2>
   this is the about page
 </h2>

 <p>
   Ad anim ullamco adipisicing dolor minim. Ad aute voluptate et adipisicing aute occaecat labore est commodo quis consectetur minim. Ullamco labore in exercitation commodo exercitation ex pariatur consectetur anim deserunt duis nostrud minim cupidatat. Nisi velit do velit elit nulla laboris. Consectetur aute voluptate ex fugiat aliquip magna adipisicing quis consequat cupidatat irure. Proident labore cupidatat eiusmod id occaecat cupidatat proident nisi. Excepteur ullamco Lorem proident eu laborum ad magna nisi exercitation.
Voluptate excepteur officia labore qui sit adipisicing pariatur laboris ea. Labore anim elit mollit incididunt. Minim aute proident commodo nisi nostrud et ullamco labore eu. Labore in elit irure proident dolore consectetur elit aute dolor tempor tempor non. Dolor consequat ullamco dolor ipsum pariatur culpa dolore incididunt incididunt fugiat velit reprehenderit eu.
Aliquip excepteur laboris sint voluptate. Qui quis cillum Lorem est laboris enim ad laboris reprehenderit magna nostrud ipsum. Tempor consequat ad exercitation labore esse incididunt consequat eiusmod fugiat aliqua cupidatat. Incididunt elit enim id et mollit cillum aliqua in occaecat deserunt proident consequat. Cupidatat quis exercitation adipisicing reprehenderit ullamco quis. Eiusmod anim nulla cillum ad. Magna labore qui excepteur duis qui ea cupidatat velit ad mollit.
   </p>
   <%- include("footer") -%>
